body {
	font-family:arial;
	font-size:16px;
	width:100%;
	height:100%;
	margin:0;
}
#newNote{
	position:absolute;
	right:3%;
	bottom:3%;
}

#noteListing{
	font-size:36px;
	margin-left:25px;
	padding:5px;
}

.title{
	display:inline-block;
	width:49%;
}
.title:read-write:focus{
	outline:none;
}
.controls{
	display:inline-block;
	width:50%;
}
.noteBody{
	border:none;
	width:100%;
	height:80%;
}
.noteBody:read-write:focus{
	outline:none;
}
.hide{
	display:none;
}
.show{
	display:block;
}
